@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

/* specific elements of /autobracket/generate */
.autobracket_form {
  width: 100%;
  background-color: #212121;
  border-style: solid;
  border-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 3px;
  padding: 10px;
}
.autobracket_label {
  float: left;
  width: 35%;
}

/* specific elements of /autobracket/bracket*/
.modeloutput {
  font-family:"Lato",sans-serif;
  background-color: #000000;
  color: #66d9ff;
}

.actualresults {
  font-family:"Lato",sans-serif;
  background-color: #000000;
  color: #ffe066;
}

.svg-container {
  display: flex;
  justify-content: center;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  min-height: 70vh;
}
/* page-size charts on mobile need a different min-height.
max-width is where the height of the chart maxes out.
min-height 90vw to account for the 5vw margin on each side */
@media only screen and (max-width: 1020px) {
  .svg-container {
    display: flex;
    justify-content: center;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    min-height: 90vw;
  }
}

#current-chart {
  max-height: 70vh;
}

#exhibit-changer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.axis-ticks {
  font-size: 16px;
  font-family:"Lato",sans-serif;
}

/* shoelace */
:root {
  --sl-font-sans: "Lato",sans-serif;
  --sl-button-font-size-large: 24px;
}

.pnav-button::part(base) {
  background: #444444;
}

.pnav-button::part(base):hover {
  background: rgba(68, 68, 68, .1);
}

.pnav-button::part(base):active {
  background: rgba(68, 68, 68, .1);
}

.pnav-button::part(base):focus {
  box-shadow: 0 0 0 3px rgba(68, 68, 68, .33);
}

.pnav-button::part(label) {
  color: #FFFFFF;
}
