@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

/* specific elements of /autobracket/generate */
.autobracket_form {
  width: 100%;
  background-color: #212121;
  border-style: solid;
  border-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 3px;
  padding: 10px;
}
.autobracket_label {
  float: left;
  width: 35%;
}

/* specific elements of /autobracket/bracket*/
.modeloutput {
  font-family:"Lato",sans-serif;
  background-color: #000000;
  color: #66d9ff;
}

.actualresults {
  font-family:"Lato",sans-serif;
  background-color: #000000;
  color: #ffe066;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

#current-chart {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* shoelace */
:root {
  --sl-font-sans: "Lato",sans-serif;
  --sl-button-font-size-large: 24px;
}

.pnav-button::part(base) {
  background: #444444;
}

.pnav-button::part(base):hover {
  background: rgba(68, 68, 68, .1);
}

.pnav-button::part(base):active {
  background: rgba(68, 68, 68, .1);
}

.pnav-button::part(base):focus {
  box-shadow: 0 0 0 3px rgba(68, 68, 68, .33);
}

.pnav-button::part(label) {
  color: #FFFFFF;
}
