{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey's March Madness bracket generator.
This is the 2021 version...currently under construction!">
{% endblock %}

{% block title %} - autobracket{% endblock %}

{% block style %}
<!-- Shoelace needs to come before our CSS, otherwise we can't overwrite! -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.27/dist/shoelace/shoelace.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.27/dist/shoelace/shoelace.esm.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/autobracket/css/autobracket.css') }}">
{% endblock %}

{% block java %}
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', path='/index/js/tarpeydevlayout.js') }}"></script>
{% endblock %}

{% block header %}autobracket 2021{% endblock %}

{% block content %}
<p>
    This page is under construction! But feel free to click through what I've got so far...
</p>
<nav id="exhibit-changer">
    <sl-button id="back-button" class="pnav-button" size="large"><= Back</sl-button>
    <span id="exhibit-title" class="center"></span>
    <sl-button id="next-button" class="pnav-button" size="large">Next =></sl-button>
</nav>
<section id="analysis"></section>
<script src="{{ url_for('static', path='/autobracket/js/app-2021-plotly.js') }}"></script>
{% endblock %}