{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey's March Madness bracket generator.
This year's iteration includes a full Monte Carlo simulation program!">
{% endblock %}

{% block title %} - autobracket{% endblock %}

{% block style %}
<!-- Shoelace needs to come before our CSS, otherwise we can't overwrite! -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.27/dist/shoelace/shoelace.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.27/dist/shoelace/shoelace.esm.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/autobracket/css/autobracket.css') }}">
{% endblock %}

{% block header %}autobracket{% endblock %}

{% block content %}
<p>
  This is an automatic bracket generator for March Madness 2021. I've simulated each of the possible games in the
  bracket 1,000 times (full methodology coming soon). When you request a bracket, the app will choose from 1 of the
  1,000 simulations for each game based on the level of spice you specify.
</p>

<p>
  Special thanks to <a href="https://kenpom.com" class="inline">Kenpom</a> for tempo data and <a href="https://fantasydata.com/" class="inline">fantasydata</a> for their great API!
</p>

<form action="{{ url_for('bracket') }}" method="POST">

  <section>
    How spicy would you like your bracket?<br>
    <input name="spice_level" type="radio" id="none" value="none" required><label for="none">None (simulation "chalk")</label><br>
    <input name="spice_level" type="radio" id="mild" value="mild" required><label for="mild">Mild (middle 50% of simulations)</label><br>
    <input name="spice_level" type="radio" id="medium" value="medium" required><label for="medium">Medium (middle 80% of simulations)</label><br>
    <input name="spice_level" type="radio" id="max" value="max" required><label for="max">MAX SPICE (hope you like outliers!)</label><br>
  </section>

  <sl-button id="make-bracket" class="pnav-button" size="large">Not ready...come back on Selection Sunday!</sl-button>

</form>
{% endblock %}